.product-category-banner-container{
    width: 100%;
    margin-top: 70px;
}

.product-category-banner-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.product-category-section{
    display: flex;
    gap: 10px;
}

.product-category-section-2{
    display: flex;
    gap: 10px;    
}

@media screen and (max-width:1200px){
    .product-category-section{
        flex-wrap: nowrap;
    }
    .product-category-section-2{
        flex-wrap: nowrap;
    }
    .product-category-section img {
        width: 50%
    }
    .product-category-section-2 img {
        width: 33.33%
    }
    
}

@media screen and (max-width:750px){
    .product-category-section{
        flex-wrap: wrap;
    }
    .product-category-section-2{
        flex-wrap: wrap;
    }
    .product-category-section img {
        width: 100%
    }
    .product-category-section-2 img {
        width: 100%
    }
    
}



