@import url('../../pages/homepage/homepage.css');
.categories-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Playfair Display', serif;  
    font-weight: 600; 
    font-size: 16px;
}

.categories-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-top: 70px;
}

@media screen and (max-width: 450px) {
    .categories-item img{
        width: 140px;
    }
    .categories-item{
        font-size: 12px;
    }
}

@media screen and (min-width: 1400px) {
    .categories-item img{
        width: 350px;
    }
    .categories-item{
        font-size: 27px;
    }
}


