.nav-container{
    height: 100px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item-1,
.nav-item-2{
    flex: 1;
}


.nav-item-2 img{
    margin-left: 40px;
}

.nav-cta-icons{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
}

.nav-cta-icons{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:450px) {
    .nav-cta-icons{
        display: none;
    }
}