@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300;400;700&family=Montserrat:ital,wght@0,500;0,700;1,400&family=Playfair+Display:wght@600&display=swap");

.trednig-product-section {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  font-family: "Playfair Display", serif;
}

.trending-product-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.trending-product-heading h1 {
  margin: 0 40px;
}

.line {
  flex: 1;
}

.trending-product-heading div {
  height: 2px;
  background-color: #ffc7d1;
}

.trending-product-heading .line:before,
.trending-product-heading .line:after {
  content: "";
  display: block;
  width: 200px;
  background-color: #770015;
}

.trending-product-heading .line:after {
  margin-left: 10px;
}

.wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.homepage-card-wrapper {
  display: flex;
  flex-direction: row;
  gap: 50px;
  flex-wrap: wrap;
}

.trending-product-cta {
  border: none;
  padding: 20px;
  background-color: #770015;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: 170px;
  cursor: pointer;
}

.homepage-product-collection {
  width: 100%;
  margin-top: 40px;
  font-family: "Playfair Display", serif;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-prcduct-collection-image-wrapper {
  object-fit: cover;
  background-repeat: no-repeat;
  width: 350px;
  height: 450px;
  position: relative;
}

.homepage-product-collection-text-wrapper {
  position: absolute;
  bottom: 0;
  top: 85%;
  background: linear-gradient(
    137deg,
    rgba(255, 255, 255, 0.4) 0.55%,
    rgba(255, 255, 255, 0.01) 100%
  );
  backdrop-filter: blur(32px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.homepgae-product-collection-wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.homepage-hurryup-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.hurryup-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  background-color: #CCCEA7;
  margin-top: 20px;
  width: 30%;
  height: 650px;
}

.hurryup-section-2{
  background-color: #D6BEBE;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  width: 30%;
  height: 650px;
}
.hurrup-heading-1 {
  font-size: 36px;
}

.hurrup-heading-2 {
  font-size: 84px;
}

.hurrup-heading-3 {
  font-size: 36px;
}

.hurryup-cta {
  border: 1px solid white;
  box-shadow: none;
  color: white;
  padding: 25px;
  background-color: transparent;
  width: 170px;
  height: 48px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}

@media screen and (max-width: 920px){
  .hurrup-heading-1 {
    font-size: 28px;
  }
  
  .hurrup-heading-2 {
    font-size: 58px;
  }
  
  .hurrup-heading-3 {
    font-size: 28px;
  }
  
}

@media screen and (max-width: 600px) {
    .homepage-hurryup-container{
      flex-direction: column;
    }
    .hurryup-section{
      width: 100%;
    }
    .hurryup-section-2{
      width: 100%;
    }
}


.services-section-container{
  background-color: #F5F4F2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  position: relative;
}


.services-wrapper-outter{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.service-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  gap: 30px;
  border-right: 2px solid #FFC7D1;
}

.service-wrapper:last-child{
  border: none;
}

.service-circle{
  position: absolute;
  bottom: -40%;
  left: -7%;
  width: 200px;
  height: 200px;
 background-color: #770015;
 border-radius: 100%; 
}

.service-circle-2{
  position: absolute;
  top: -40%;
  right: -7%;
  width: 200px;
  height: 200px;
 background-color: #770015;
 border-radius: 100%; 
}


@media screen and (max-width: 750px) {
  .services-wrapper-outter{
    flex-direction: column;
  }
  .service-wrapper{
    border-bottom: 2px solid #FFC7D1;
    border-right: none;
    padding-bottom: 30px;
    margin-top: 10px;
  }
}